body {
	text-align: center;
	font-family: cursive;
	background-color: #C6E2FF;
	color: #FF8E00;
}
iframe {
	border: 5px solid #000000;
	background-color: #000000;
}
h1 {
	text-align: center;
}
#hitmarkerButton {
	border: 2px solid #00547F ;
	margin: 10px;
}

.blueborder {
	background-color: #00547F;
	border-radius: 5px;
	border: 2px solid #00547F;
}