body {
	text-align: center;
	font-family: cursive;
	background-color: #ABFF8B;
	color: #141414;
}
iframe {
	border: 5px solid #000000;
	background-color: #000000;
}
h1 {
	text-align: center;
}
#hitmarkerButton {
	border: 2px solid #44B217 ;
	margin: 10px;
}

.blueborder {
	background-color: #44B217;
	border-radius: 5px;
	border: 2px solid #44B217;
}